@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can add more and more of blogs and discuss what you want to discuss</p>
</div>
